.players-list {
  position: absolute;
  z-index: 9;
  border: 1px solid gray;
  max-height: 250px;
  overflow-y: scroll;
  margin-top: 5px;
}

.players-list-item {
  padding: 3px 10px;
}

.players-list-item:hover {
  background-color: #e5e1e1;
}
